:root {
  /* Primary color */
  --primary-color: #339af0;
  --primary-color-rgb: 51 154 240; /* rgb representation of the primary color */
  --secondary-color: #ffa550;

  --default-background-color: #fff;
  --default-background-color-dark: #1a1b1e;

  --default-text-color: #333;
  --default-text-color-on-dark: #ddd;

  --default-link-color: #003d9d;
  --neutral-color: #888;

  /* Sizes */
  --form-item-size: 2em;
  --form-item-radius: 4px;

  /* Animations */
  --common-transition-time: 150ms;
  --common-animation-time: 250ms;
  --common-effect-time: 500ms;

  /* Main colors */
  --common-error-color: #b00; /* aka 187 0 0 */
  --common-warn-color: #c90; /* #960; */
  --common-success-color: #0c3; /* #181; */

  --common-error-color-rgb: 187 0 0;
  --common-success-color-rgb: 0 204 51;

  /* Combo colors */
  --default-border-color: rgba(0 0 0 / 10%);
  --default-border: 1px solid var(--default-border-color);
  --light-border-color: rgba(0 0 0 / 5%);
  --light-border: 1px solid var(--light-border-color);

  /* Header */
  --header-flex-direction: row;
  --header-menu-position: relative;

  /** Adaptive parameters */
  --root-overflow: auto;
  --layout-overflow: visible;
  --scrollable-overflow: visible;
  --header-hamburger-display: flex;
  --header-menu-flex-direction: column;
  --header-menu-width: 100%;
  --header-title-flex: 1;
  --footer-flex-direction: column;
  @media (width >= 540px) {
    /* NOTE: See also adaptive fixes in `styles/page-header.css` */
    --root-overflow: hidden;
    --layout-overflow: hidden;
    --scrollable-overflow: auto;
    --header-hamburger-display: none;
    --header-menu-flex-direction: row;
    --header-menu-width: auto;
    --header-title-flex: auto;
    --footer-flex-direction: row;
  }
}
