a {
  color: var(--primary-color);
}

*[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.Info {
  opacity: 0.35;
}
.EmptyMessage {
  color: var(--primary-color);
}
.InfoWrapper {
  text-align: center;
  padding: 1em;
}
.Small {
  font-size: 90%;
}
.Large {
  font-size: 125%;
}
.FullWidth {
  width: 100%;
}
.ErrorPane {
  background-color: var(--common-error-color);
  color: #fff;
  padding: 1em;
}

.hidden {
  display: none;
}
