.InputForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.InputText {
  box-shadow: none;
  padding: 0 0.5em;
  box-sizing: border-box;
  border-radius: var(--form-item-radius);
  transition: all var(--common-transition-time);
  height: var(--form-item-size);
  /* box-shadow: 0 0 0 1px var(--primary-color); */
  /* box-shadow: 0 0 0 1px rgba(var(--primary-color-rgb) / 50%); */
  outline: 1px solid var(--primary-color);
  border: none;
}
.InputText:hover {
  box-shadow: 0 0 0 2px rgba(var(--primary-color-rgb) / 20%);
  /* outline: 1px solid rgba(var(--primary-color-rgb) / 20%); */
}
.InputText:focus {
  /* outline: 2px var(--primary-color); */
  /* box-shadow: 0 0 0 1px var(--primary-color); */
  box-shadow: 0 0 0 4px rgba(var(--primary-color-rgb) / 20%);
}

.GhostInput {
  outline: 1px solid rgba(var(--primary-color-rgb) / 0%);
}
.GhostInput:not(:focus, :active) {
  background: none;
}
.GhostInput:not(:hover, :focus, :active) {
  border: none;
  box-shadow: none;
  /* outline: none; */
}
.GhostInput:hover {
  outline: 1px solid rgba(var(--primary-color-rgb) / 20%);
  background-color: rgba(255 255 255 / 20%);
}
.GhostInput:focus {
  outline: 1px solid rgba(var(--primary-color-rgb) / 100%);
  background-color: #fff;
}
.GhostInput:active,
.GhostInput:focus {
}

/* File upload input */
.FileUploadButton {
  position: relative;
  display: flex;
  gap: 1em;
}
.FileUploadButtonXL {
  padding: 3em 1em;
}
.FileUploadButton #spinner {
  font-size: 1.5em;
  color: var(--primary-color);
}
.FileUploadButton:not(.Loading) #spinner {
  opacity: 0;
  pointer-events: none;
}
.FileUploadButton.Loading {
  pointer-events: none;
}
.FileUploadButton.Loading #buttonText {
  opacity: 0.5;
}
.FileUploadButton #buttonText {
  display: inline-block;
  /* Compensate left spinner icon */
  margin-right: 2em;
}
.FileUploadInput {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  white-space: nowrap;
  opacity: 0;
}
