body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior: none;
  overscroll-behavior-y: contain;
}

.ItemsList {
  /* padding: 1em 0; */
}
.ItemsList .Item {
  --item-v-padding: 0.5em;

  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior: none;
  overscroll-behavior-y: contain;

  position: relative;
  padding: var(--item-v-padding) 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  transition: all var(--common-transition-time);
  border-bottom: var(--light-border);
}
.ItemsList .Item.Active {
  cursor: pointer;
}
.ItemsList .Item.Active:hover {
  background-color: rgba(var(--primary-color-rgb) / 20%);
}
.ItemsList .Item.Active:active {
  background-color: rgba(var(--primary-color-rgb) / 40%);
  box-shadow: 0 0 3px 2px rgba(var(--primary-color-rgb) / 50%);
}
.ItemsList .Item.Current {
  background-color: rgba(var(--primary-color-rgb) / 10%);
}
.ItemsList .Item.Active.Current:hover {
  background-color: rgba(var(--primary-color-rgb) / 25%);
}
.ItemsList .Item.Active.Current:active {
  background-color: rgba(var(--primary-color-rgb) / 40%);
}
.ItemsList .Title {
  flex: 1;
  padding: 0.5em 0;
  align-items: center;
  display: flex;
  gap: 0.25em 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ItemsList .Title:not(.WithTextInput) {
  flex-wrap: wrap;
}
.ItemsList .WithTextInput .GhostInput {
  /* Make enough room for activee outlines */
  margin: 4px;
}
.ItemsList .Title .TitleText {
  /* flex: 1; */
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block; /* Required for `ellipsis` clipping mode */
}
.ItemsList .Item.Completed .Title {
  text-decoration: line-through;
  opacity: 0.3;
}
.ItemsList .Item .StatusIcon {
  /* border-color: rgba(var(--primary-color-rgb) / 50%); */
  border-radius: 5px;
}
.ItemsList .Item.Completed .StatusIcon {
  /* border-color: var(--common-success-color); */
  color: var(--common-success-color);
}
.ItemsList .Item:not(.Completed) .StatusIcon {
  /* border-color: var(--common-error-color); */
  color: var(--primary-color);
}
.ItemsList .Item.Completed .Status:not(.Completed),
.ItemsList .Item:not(.Completed) .Status.Completed {
  display: none;
}

/* Actions */
.ItemsList .Actions {
  display: flex;
  gap: 0.25em;
}

/* Dragging */
.ItemsList.Dragging {
  /* border: 1px dashed green; */
  --drag-gap: 1.5em;
  --drag-indicate-color1: rgba(var(--primary-color-rgb) / 50%);
  --drag-indicate-color2: rgba(var(--primary-color-rgb) / 40%);
}
.ItemsList.Dragging .Item.DragFrom:hover,
.ItemsList.Dragging.hasDragTarget .Item.DragFrom {
  /* border: 1px dashed var(--primary-color); */
  background-color: rgba(var(--primary-color-rgb) / 20%);
  opacity: 0.5;
}
.ItemsList.Dragging .Item.DragTo {
  /* border: 1px dashed red; */
}
.ItemsList.Dragging .Item::before,
.ItemsList.Dragging .Item::after {
  position: absolute;
  left: 0;
  right: 0;
  transition: all var(--common-transition-time);
  content: '';
}
.ItemsList.Dragging .Item::before {
  top: 0;
}
.ItemsList.Dragging .Item::after {
  bottom: 0;
}
.ItemsList.Dragging .Item.DragTo.DragBefore {
  padding-top: calc(var(--item-v-padding) + var(--drag-gap));
}
.ItemsList.Dragging .Item.DragTo.DragAfter {
  padding-bottom: calc(var(--item-v-padding) + var(--drag-gap));
}
.ItemsList.Dragging .Item.DragTo.DragAfter::after,
.ItemsList.Dragging .Item.DragTo.DragBefore::before {
  height: var(--drag-gap);
}
.ItemsList.Dragging .Item.DragFrom:hover,
.ItemsList.Dragging.hasDragTarget .Item.DragFrom,
.ItemsList.Dragging .Item.DragTo.DragAfter::after,
.ItemsList.Dragging .Item.DragTo.DragBefore::before {
  /* Diagonal stripes background */
  background: repeating-linear-gradient(
    45deg,
    var(--drag-indicate-color2),
    var(--drag-indicate-color2) 10px,
    var(--drag-indicate-color1) 10px,
    var(--drag-indicate-color1) 20px
  );
}
