.PageLayout {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: var(--layout-overflow);
  width: 100%;
}
.PageColumn {
  position: relative;
  width: 100%;
  overflow: var(--layout-overflow);
  display: flex;
  flex-direction: column;
}
.PageColumn#First {
  border-bottom: var(--default-border);
}
.PageColumnHeader {
  background-color: rgba(var(--primary-color-rgb) / 35%);
  border-top: var(--default-border);
  border-bottom: var(--default-border);
}
.PageColumnContent {
  flex: 1;
  /* Scrollable container */
  overflow: auto;
}
@media (width < 480px) {
  .PageColumn {
    /* Override custom user widths on mobile layout! */
    width: 100% !important;
  }
}
@media (width >= 480px) {
  .PageLayout {
    flex-direction: row;
  }
  .PageColumn {
    display: flex;
    flex-direction: column;
    min-width: 240px;
  }
  .PageColumn#First {
    width: 25%;
    resize: horizontal;
    border-right: var(--default-border);
    border-bottom: 0;
  }
  .PageColumn#Second {
    flex: 1;
  }
}
