html,
.Page:not(.Plain) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: var(--root-overflow);
}
.Page {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
}
.Page.Plain {
  padding: 1em;
}
.Page.Plain h1,
.Page.Plain h2,
.Page.Plain h3 {
  color: var(--primary-color);
}
