.PageHeader {
  padding: 0.75em 1em;
  background-color: var(--primary-color);
  color: rgba(255 255 255 / 80%);
  border-bottom: var(--default-border);
  text-align: center;
  display: flex;
  flex-direction: var(--root-adaptive-flex-direction);
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em 1em;
}
.PageHeader .PageTitle {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.PageHeader .PageTitleText {
  overflow: hidden;
  text-overflow: ellipsis;
}
.PageHeader .MainMenu {
  position: var(--header-menu-position);
  width: var(--header-menu-width);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: var(--footer-flex-direction);
  gap: 0.25em 0.5em;
}
/** Mobile screens */
@media (width < 480px) {
  .PageHeader .MainMenu {
    align-items: center;
    padding: 0.25em;
  }
  .PageHeader:not(.MenuOpen) .MainMenu {
    display: none;
  }
}
.PageHeader .HamburgerMenu {
  display: var(--header-hamburger-display);
}
