.Toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  padding: 0.5em 1em;
}
.Toolbar[disabled] {
}
.Toolbar .ToolbarTitle {
  flex: 1;
  font-weight: bold;
  color: var(--primary-color);
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em 0.5em;
}
.Toolbar .ToolbarActions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}
