.Toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  padding: 0.5em 1em;
  /* Minimal height for form element */
  min-height: var(--form-item-size);
}
@media (width < 300px) {
  .Toolbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
.Toolbar .ToolbarTitle {
  flex: 1;
  font-weight: bold;
  color: var(--primary-color);
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.25em 0.5em;
  white-space: nowrap;
  max-width: 100%;
}
.Toolbar .TitleText {
  text-overflow: ellipsis;
  overflow: hidden;
}
.Toolbar .ToolbarActions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em 0.25em;
}
